sudo: false
dist: trusty
language: node_js
node_js:
  - node

cache:
  directories:
    - node_modules

branches:
  except:
    - gh-pages

notifications:
  email:
    on_success: change
    on_failure: always

stages:
  - Unit Tests
  - Integration Tests
  - name: Deployment
    if: branch = master

jobs:
  include:

    - stage: Unit Tests
      before_install:
        - npm install -g codecov
      script:
        - npm run lint
        - npm run lintspec
        - npm run coverage
        - npm run examples
      after_script:
        - codecov

    - stage: Integration Tests
      env:
        - ATOM_CHANNEL=stable
      before_script:
        - npm run build
        - cd spec/integration
        - curl -s -O https://raw.githubusercontent.com/atom/ci/master/build-package.sh
        - chmod u+x build-package.sh
      script:
        - ./build-package.sh

    - stage: Integration Tests
      env:
        - ATOM_CHANNEL=beta
      before_script:
        - npm run build
        - cd spec/integration
        - curl -s -O https://raw.githubusercontent.com/atom/ci/master/build-package.sh
        - chmod u+x build-package.sh
      script:
        - ./build-package.sh

    - stage: Deployment
      env:
        - secure: Zeuto7Ysb9lCzrQvL6YqCmcJ4faMbijNcQgC2T3YWaVTccuXNg3qvmfREDAUfEbia5MjB1TRaXHICf8mKJ+iZd3N69AEEq4yQWhVdQE6trvaT35jXrW2MlaY1p5JcFdc0pyC6WSz2sPtM67wNchvhY6ADX1JayiVZ+fJRg8MRXpmkwjfX7BMLBf9f6XUuEyWSVezjt0sYGSJDwaimgdfddMFDXT+mHHPHkd6AThhrc3gWFwiUcUn2LH+dgOERgtAqyTT6BnJurkETN/vwuEQLywL772i0EBq8FMmZt/Fskj8P14T5EunQ5hDRkrd7waZpE1B/kXgaNCrLvIT9Du3Do/dPSR0tsnO3MaLWlrGi2H/WEsQy6nXpLz2F4Pmn8oh02JUkIoi3Xl28uvLrW4YdLp7LhN2krlZPVzeuDghYxLtmYTNrJUWLvP7X1LHWCJRRJWvvcBeypZw/s6gbhqZtVakpTFYO1mE2VJ6Ss4WUbnENQvjk9zme4xXQ6z3+Sv0dxJIsfgth2OXw43ys4lFZ7+o33xhOe0eCuE6vWtb0XkEzlopY+Foa+o5AZjgRttOze9+ZTX/5pOkRUEzW2Iw113BSRRdpvSSzRmtRjD90KcWCKEiUozmrF28/dxC2m5fq6BLi2m0eG7C1smA8niyEcnEoF1R5D3+YF45dlBHchw=
        - secure: E/Wq673goQf/mwc8Ij+81qmZ75Oc74eNNWZDT9pwqmy5nX7YwzaI5Q79g7jRlUl4knYoMpIfgL3YY6MNGmRS0nM6Yd2nQPVEEBsYawa6ecd1D5cJUtcO12FjVyofk3UHaV/Z4fBy5zIsAC7MY/hayboMH1VVxo/GveADc8AI3ipLp2CC+/8ur27/9Y6eqjvWsr8lYPxaTojJWwpkyZ73OlwNo4t2pRh4bZSW0kz1a6hsJh4LXkDgoxJpRfWCvM7sUJsm16w9CcjeMElIRaJwnVv/DBZfoWPGiOvSAUl6zwEqkWdAJpjOls7ofSyOD08syuA2mkYd/L+n7HAlV5uICBvPhTKN808IRSEFibWjGceaHKHLGLN4zikf1bOfWb5De5Re73ap/u5DeFQH6xOHFEeNOJWhAC7HKpu1+Xpbo4KAe1XkgDbogec3T1jzf2NHL7tRsfbs4/BGy+irGekuffVQc29ulHGpoQXYJHkkkX5y8JaLgHOJxYmWEsgIGsc325Q/CCIT//QXkRNQcrJ9xPY8H+aqpaRjfuEPMAA2jSQI2yGZ2PoFMiQvHQS8W4d4Wd9iurvl5WZ9x0Caeojw7cjpNecehAdt5HETCDm4Sx04GioIiaORmFbuWmpDBpRkd4j2LD9AmViwA7QCZq2p9B/ecA/8hwvMvnxlkiFg0jo=
      script:
        - npm run deploy
